importFrom(Rcpp,sourceCpp,evalCpp)
importFrom(remotes,install_github)
import(Matrix)
import(lsa)
import(ggplot2)
import(Rtsne)
import(netZooR)
import(GenomicRanges)
import(Gviz)
import(GenomicInteractions)
useDynLib(packageTryV3, .registration=TRUE)
S3method(read_ATAC_GEX,default)
S3method(demo, default)
S3method(RegNMF, default)
S3method(SplitGroup,default)
S3method(clustering, default)
S3method(callpeak, default)
S3method(Visualization, default)
export(demo)
export(RegNMF)
export(read_ATAC_GEX)
export(SplitGroup)
export(clustering)
export(Visualization)
export(callpeak)
