importFrom(Rcpp,sourceCpp,evalCpp)
import(Matrix)
import(lsa)
import(ggplot2)
import(Rtsne)
import(GenomicRanges)
import(rtracklayer)
import(Gviz)
import(GenomicInteractions)
useDynLib(RegNMF, .registration=TRUE)
S3method(read_ATAC_GEX,default)
S3method(demo, default)
S3method(RegNMF, default)
S3method(SplitGroup,default)
S3method(clustering, default)
S3method(callpeak, default)
S3method(Visualization, default)
export(demo)
export(RegNMF)
export(read_ATAC_GEX)
export(SplitGroup)
export(clustering)
export(Visualization)
export(callpeak)
export(Fold_RE_TG_MultiAdjustCore)
export(Fold_RE_TG_multiAdjust.default)
export(normlize_scalling.default)
export(defaultpar_CoupledNMF.default)
export(CPPNMF_cluster_joint_cross_domain_try)
export(tfidf_trans.default)
export(CNmf)
export(CPPNMF_cluster_joint_cross_domain_2term)
export(RegNMF_2term)

